.rowsContainer{
  /*margin-top:15%;*/
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*height:220px;*/
    border:2px solid black;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    padding: 20px;
}
.container{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top:10px;
    height: 4.5em;
}
.item{

    width:40px;
    height:30px;
    border:1px solid black;
    align-self: flex-end;
    color:black;
    font-family: verdana;
    font-weight: 800;
    font-size: 9px;
    margin-top: 2px;
}
.item:hover{
  background-color:black;
  opacity: 0.3;
  color:white;
  font-size: 13px;
}
.yellow{
    background-color: rgb(229, 255, 204);
}
.purple{
    background-color: rgb(204, 229, 255);
}
.red{
    background-color: rgb(225, 204, 229);
}
.blue{
    background-color: rgb(225, 225, 204);
}
.green{
  background-color: rgb(224, 224, 224);
}
.blueLast{

    background-color: rgb(204, 229, 255);
}
h5{
    text-align: center;
}
h1{
  font-family: verdana;
  text-align: center;
  margin-top:10%;
  color:black;
}
.toilets{
  padding: 5px;
}
